BODY {
	margin:0px;					/*境界の外側の余白*/
	background-color:#EEEEEE;		/*背景色*/
}

H1 {	/*ブログのタイトル*/
	text-align:center;			/*テキストの配置*/
	width:730px;					/*要素の幅*/
	height:50px;					/*要素の高さ*/
	color:#FFCC00;				/*文字の色*/
	background-color:#338866;		/*背景色*/
	margin:10px;					/*協会の外側の余白*/
	border-style:solid;			/*境界線のスタイル*/
	border-top-width:1px;			/*境界線（上）の幅*/
	border-left-width:1px;		/*境界線（左）の幅*/
	border-right-width:3px;		/*境界線（右）の幅*/
	border-bottom-width:3px;		/*境界線（下）の幅*/
	border-color:#333388;			/*境界線の色*/
	padding:10px;					/*境界の内側の余白*/
	font-size:30px;				/*フォントのサイズ*/
	font-weight:normal;			/*フォントの太さ*/
	font-family:'MS UI Gothic';	/*フォント名*/
	line-height:50px;				/*1̍行の高さ*/
}

DIV.navi {	/*�^�C�g���ꗗ*/
	position:absolute;			/*位置の指定方法*/
	background-color:#99CC99;		/*背景色*/
	top:100px;					/*上からの位置*/
	left:10px;					/*左からの位置*/
	width:180px;					/*幅*/
	padding: 10px;				/*境界の内側の余白*/
	color:#800000;				/*フォントの色*/
	font-size:12px;				/*フォントのサイズ*/
	font-family:'MS UI Gothic';	/*フォント名*/
	line-height:20px;				/*1行の高さ*/
}
DIV.navi A:link{	/*目次の未訪問リンク*/
	color:#000088;				/*文字の色*/
	text-decoration:none;			/*文字の装飾*/
}
DIV.navi A:visited{	/*目次の既訪問リンク*/
	color:#000088;				/*文字の色*/
	text-decoration:none;			/*文字の装飾*/
}
DIV.navi A:hover{	/*目次のリンクにポインタを重ねた時*/
	color:#000088;				/*文字の色*/
	text-decoration:none;			/*文字の装飾*/
	background-color:#CCCCFF;		/*背景色*/
}

DIV.article{		/*本文*/
	padding:10px;					/*境界の内側の余白*/
	background-color:#DDDDCC;		/*背景色*/
	position:absolute;			/*位置の指定方法*/
	left:200px;					/*左からの位置*/
	top:100px;					/*上からの位置*/
	width:540px;					/*幅：540ピクセル*/
	font-family:'MS UI Gothic';		/*フォント名*/
	font-size:16px;				/*フォントサイズ*/
	line-height:25px;				/*1行の高さ*/
}

H2{		/*日記の見出し*/
	padding-left:5px;				/*境界の内側の余白（左）*/
	margin:0px;					/*境界の外側の余白*/
	margin-bottom:10px;			/*境界の外側の余白（下）*/
	background-color:#333388;		/*背景色*/
	color:#FFFFFF;				/*文字の色*/
	font-family:'MS UI Gothic';		/*フォント名*/
	font-size:20px;				/*フォントサイズ*/
	line-height:30px;				/*行の高さ*/
}

DIV.footer{	/*フッター*/
	margin-top:10px;				/*境界の外側の余白（上）*/
	padding:10px;					/*境界の内側の余白*/
	border-top-style:solid;		/*境界線のスタイル*/
	border-top-width:2px;			/*境界線の太さ*/
	border-top-color:#000080;		/*境界線の色*/
	text-align:right;				/*テキストの配置*/
	color:#000080;				/*文字の色*/
	font-size:12px;				/*フォントサイズ*/
	font-family:'MS UI Gothic';	/*行の高さ*/
}

DIV.footer A:link{	/*フッターの未訪問リンク*/
	color:#000080;				/*文字の色*/
	text-decoration:none;			/*文字の装飾*/
}
DIV.footer A:visited{	/*フッターの既訪問リンク*/
	color:#000080;				/*文字の色*/
	text-decoration:none;			/*文字の装飾*/
}
DIV.footer A:hover{	/*フッターのリンクにポインタを重ねた時*/
	color:#FF0000;				/*文字の色*/
	text-decoration:underline;		/*文字の装飾*/
}

DIV.quote{
	margin:5px;
	padding:5px;
	font-size:12px;
	font-family:'MS UI Gothic';
	background-color:#FFFFEE;
}

